@page "/drivers"
@using practiseBlazor.DataAccess
@using practiseBlazor.Models
<h3>Все водители</h3>

@if (_allClients.Count == 0)
{
    <p>
        <em>Loading ...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Лицензия</th>
            <th>Телефон</th>
            <th>Дата устройства на работу</th>
            <th>Рабочие дни</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in _allClients)
        {
            <tr>
                <td>@post.Name</td>
                <td>@post.LicenseNumber</td>
                <td>@post.Phone</td>
                <td>@post.DateOfHire</td>
                <td>@post.WorkTime</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<DriverData> _allClients = new List<DriverData>();

    protected override async Task OnInitializedAsync()
    {
        string query = "query{drivers{name, licenseNumber, phone, dateOfHire, waybills {date}}}";
        string queryType = "drivers";
        var result = await Query.ExecuteQueryReturnListAsync<Driver>(queryType, query);
        var processedData = result
            .Select(driver => new DriverData
            {
                Name = driver.Name,
                LicenseNumber = driver.LicenseNumber,
                Phone = driver.Phone,
                DateOfHire = driver.DateOfHire,
                WorkTime = string.Join(", ", driver.Waybills.Select(item => item.Date))
            })
            .ToList();
        
        _allClients = processedData;
    }

    public class DriverData
    {
        public string Name { get; set; }
        public long LicenseNumber { get; set; }
        public string Phone { get; set; }
        public DateTime DateOfHire { get; set; }
        public string WorkTime { get; set; }
    }

}